<%= link_to "Home", root_path %>

<%= provide(:title, 'All Events') %>
<h1><%= @upcoming_header %></h1>
<%= render 'event_list', events: @upcoming_events%>
<h1><%= @prev_header %></h1>
<%= render 'event_list', events: @prev_events%>
<%= link_to 'Create Event', new_event_path %>
