<%= link_to "Home", root_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
    <strong>Attendees:</strong>
    <% @event_attendees.each do |attendee| %>
     <%=  attendee.username %> ,
    <% end %>
<br><br>
<%= link_to 'Invite', edit_event_path(@event) %> |
